<div class="row">
  <div class="small-2 columns"></div>
  <div class="small-8 small-centered columns home-page"><h1 class="text-center" id="title">Rock Paper Scissors</h1></div>
  <div class="small-2 columns"></div>
</div>

<div class="row">
  <div class="small-4 columns"></div>

  <div class="small-4 small-centered columns home-page">
    <%= link_to "New Game", games_path, method: :post, class: "button large new-game-link" %>
  </div>

  <div class="small-4 columns"></div>
</div>
