<h1><%= @user.name %> Dashboard</h1>

<ul>
  <li>Total Games Played: <%= @user.games_played %></li>
  <li>Total Wins: <%= @user.games_won %></li>
</ul>

<%= link_to "New Game", games_path, method: :post, class: "button large" %>
