<div class="row">
  <div class="small-4 columns"></div>
  <div class="small-4 small-centered columns"><h1>Pick One</h1></div>
  <div class="small-4 columns"></div>
</div>

<div class="row">
  <div class="small-2 columns"></div>
  <div class="small-8 small-centered columns">
    <ul class="menu game-menu">
      <li><%= link_to image_tag('rock.svg', size: "100"), game_path(id: @game.id, guess: "rock"), id: "rock-link", method: :patch %></li>
      <li><%= link_to image_tag('notebook.svg', size: "100"), game_path(id: @game.id, guess: "paper"), id: "paper-link", method: :patch %></li>
      <li><%= link_to image_tag('scissors.svg', size: "100"),  game_path(id: @game.id, guess: "scissors"), id: "scissors-link", method: :patch %></li>
    </ul>
  </div>
  <div class="small-2 columns"></div>
</div>
