<div class="row">
  <div class="small-2 medium-4 large-4 columns"></div>
  <div class="small-8 medium-4 large-4 small-centered columns" id="game-menu-header-div"><h1 id="game-menu-header">Pick One</h1></div>
  <div class="small-2 medium-4 large-4 columns"></div>
</div>

<div class="row">
  <div class="small-2 medium-2 large-2 columns"></div>
  <div class="small-12 medium-8 large-8 small-centered medium-centered large-centered columns">
    <ul class="menu game-menu">
      <li><%= link_to image_tag('rock.svg', size: "100"), game_path(id: @game.id, guess: "rock"), id: "rock-link", method: :patch %></li>
      <li><%= link_to image_tag('notebook.svg', size: "100"), game_path(id: @game.id, guess: "paper"), id: "paper-link", method: :patch %></li>
      <li><%= link_to image_tag('scissors.svg', size: "100"),  game_path(id: @game.id, guess: "scissors"), id: "scissors-link", method: :patch %></li>
    </ul>
  </div>
  <div class="small-2 medium-2 large-2 columns"></div>
</div>
